html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #757575;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  font-family: Roboto, sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
  color: #212121;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 3%;
}

.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #e0e0e0;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  line-height: 1.5;
}
.logo span {
  color: #2196f3;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 93px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list .nav-link {
  position: relative;
}

.nav-list .nav-link::after {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5px;
  background-color: #027df7;
  border-radius: 4px;
  bottom: -1px;
  left: 0;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.nav-list .nav-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  padding: 0;
  margin: 0;
}

.nav-list .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2%;
  text-decoration: none;
  color: #212121;
}
.nav-list .nav-link:hover {
  color: #2196f3;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  gap: 50px;
}
.contacts-list .link {
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #757575;
}

.contact-svg {
  color: transparent;
  background-color: none;
  border: none;
  fill: inherit;
  cursor: pointer;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 32px;
  fill: #757575;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #757575;
  gap: 10px;
}
.contact:hover, .contact:focus {
  color: #027df7;
  fill: #027df7;
}

.hero {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/background-photo.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background-photo.jpg");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(47, 48, 58);
  max-width: 1600;
  height: 600;
  top: 80px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.slogan {
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 6%;
  text-transform: uppercase;
  text-align: center;
}

.main-button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 2.14;
  letter-spacing: 6%;
  text-align: center;
  background-color: #2196f3;
  color: #ffffff;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.main-button:hover, .main-button:focus {
  background-color: #027df7;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: flex-between;
      -ms-flex-pack: flex-between;
          justify-content: flex-between;
}

.list-item::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
}

.list-item:nth-child(1)::before {
  background-image: url("../images/antenna 1.svg");
}

.list-item:nth-child(2)::before {
  background-image: url(../images/clock\ 1.svg);
}

.list-item:nth-child(3)::before {
  background-image: url("../images/diagram 1.svg");
}

.list-item:nth-child(4)::before {
  background-image: url("../images/astronaut 1.svg");
}

.features-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: rgb(33, 33, 33);
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  color: rgb(117, 117, 117);
  margin-top: 10px;
}

.job {
  padding-top: 0;
}

.intro {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.photo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.foto-card-thumb {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foto-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}

.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 3%;
  background-color: #f5f4fa;
  list-style: none;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 50px;
  background-color: #f5f4fa;
}

.team-man {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.self-introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #eeeeee;
  border-top: none;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding-bottom: 30px;
  padding-top: 16px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 12px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}
.social-link:hover, .social-link:focus {
  background-color: #027df7;
  fill: #ffffff;
}

.svg-icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  fill: inherit;
  height: 20px;
  gap: 10px;
}/*# sourceMappingURL=main.css.map */