html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #757575;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  font-family: Roboto, sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
  color: #212121;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 3%;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  top: 0;
  z-index: 3;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  line-height: 1.5;
}
.logo span {
  color: #2196f3;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 93px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list .nav-link {
  position: relative;
}

.nav-list .nav-link::after {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5px;
  background-color: #027df7;
  border-radius: 4px;
  bottom: -0.4px;
  left: 0;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.nav-list .nav-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  padding: 0;
  margin: 0;
}

.nav-list .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2%;
  text-decoration: none;
  color: #212121;
}
.nav-list .nav-link:hover {
  color: #2196f3;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  gap: 50px;
}
.contacts-list .link {
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #757575;
}

.contact-svg {
  color: transparent;
  background-color: none;
  border: none;
  fill: inherit;
  cursor: pointer;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 32px;
  fill: #757575;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #757575;
  gap: 10px;
}
.contact:hover, .contact:focus {
  color: #027df7;
  fill: #027df7;
}

.hero {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/background-photo.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background-photo.jpg");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(47, 48, 58);
  max-width: 1600;
  height: 600;
  top: 80px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.slogan {
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 6%;
  text-transform: uppercase;
  text-align: center;
}

.main-button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 2.14;
  letter-spacing: 6%;
  text-align: center;
  background-color: #2196f3;
  color: #ffffff;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.main-button:hover, .main-button:focus {
  background-color: #027df7;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: flex-between;
      -ms-flex-pack: flex-between;
          justify-content: flex-between;
}

.list-item::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
}

.list-item:nth-child(1)::before {
  background-image: url("../images/antenna 1.svg");
}

.list-item:nth-child(2)::before {
  background-image: url(../images/clock\ 1.svg);
}

.list-item:nth-child(3)::before {
  background-image: url("../images/diagram 1.svg");
}

.list-item:nth-child(4)::before {
  background-image: url("../images/astronaut 1.svg");
}

.features-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: rgb(33, 33, 33);
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  color: rgb(117, 117, 117);
  margin-top: 10px;
}

.job {
  padding-top: 0;
}

.intro {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.photo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.foto-card-thumb {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foto-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}

.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 3%;
  background-color: #f5f4fa;
  list-style: none;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 50px;
  background-color: #f5f4fa;
}

.team-man {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.self-introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #eeeeee;
  border-top: none;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding-bottom: 30px;
  padding-top: 16px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 12px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}
.social-link:hover, .social-link:focus {
  background-color: #027df7;
  fill: #ffffff;
}

.svg-icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  fill: inherit;
  height: 20px;
  gap: 10px;
}

.customers {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  background-color: transparent;
  fill: #afb1b8;
}

.client-link:hover {
  fill: #027df7;
  border-color: #027df7;
}

.permanent-icon {
  background-position: center;
  border: none;
  width: 106px;
  height: 60px;
}

.permanent-icon:hover {
  color: #027df7;
  cursor: pointer;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-footer {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #ffffff;
  line-height: 1.5;
}
.logo-footer span {
  color: #2196f3;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.find-us-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 9px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.find-us-link {
  font-size: 14px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.find-us-link:hover, .find-us-link:focus {
  color: #027df7;
}

.join-title {
  font-family: Roboto;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
}

.join-us-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.join-us-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}
.join-us-link:hover,
.join-us-link :focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.svg-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
}

.subscribe-us-container {
  display: inline;
  top: 50%;
  right: -50%;
  padding: 0;
  margin: 0;
  gap: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.subscribe-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
}

.subscribe-us {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgb(47, 48, 58);
  color: inherit;
  border-radius: 4px;
  padding: 15px 16px 15px 16px;
  width: 358px;
  height: 50px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-us-btn {
  position: relative;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  font-size: 16px;
  background-color: #2196f3;
  line-height: 2.14;
  letter-spacing: 6%;
  background-color: #2196f3;
  color: #ffffff;
  padding: 10px 62px 10px 28px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.subscribe-us-btn:hover, .subscribe-us-btn:focus {
  background-color: #027df7;
}

.subscribe-svg {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 50%;
  right: -60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  width: 528px;
  height: 620px;
  background-color: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: #ffffff;
  fill: rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.modal-button:hover {
  cursor: pointer;
  fill: #027df7;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover ~ .modal-svg {
  fill: #027df7;
}

.modal-svg {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 15px;
  -webkit-transform: translatex(50%);
          transform: translatex(50%);
}

.form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 39px 164px 41px;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1%;
  color: rgb(117, 117, 117);
  gap: 4px;
}

textarea {
  resize: none;
  cursor: pointer;
  padding-top: 12px;
  padding-left: 16px;
  border-radius: 4px;
}
textarea:hover, textarea:focus {
  border-color: #027df7;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input {
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.form-field input:hover {
  border: 1px solid #027df7;
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5);
}

.form-field input::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5);
}

.form-field input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5);
}

.form-field input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5);
}

.form-field input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5);
}

.form p {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  color: rgb(33, 33, 33);
  padding-bottom: 12px;
}

.form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 42px;
}

.form-field {
  position: relative;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  gap: 10px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox-icon {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 4px;
  border: 2px solid black;
}

.checkbox:checked + .checkbox-icon {
  background-color: #027df7;
  background-image: url("/images/Vector (1).svg");
  background-origin: border-box;
  background-size: contain;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 2.14;
  letter-spacing: 6%;
  background-color: #2196f3;
  color: #ffffff;
  margin-top: 30px;
  padding: 10px 52px 10px 52px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.submit-btn:hover, .submit-btn:focus {
  background-color: #027df7;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 94px;
  margin-bottom: 50px;
}
.filter-buttons button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 3%;
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
}
.filter-buttons button:hover {
  background-color: #027df7;
  color: #ffffff;
  -webkit-box-shadow: inset 0px 0px 0px 1px #027df7, 0px 4px 4px -2px rgba(0, 0, 0, 0.2), 0px 8px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 12px -6px rgba(0, 0, 0, 0.2), 0px 16px 16px -8px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 0px 1px #027df7, 0px 4px 4px -2px rgba(0, 0, 0, 0.2), 0px 8px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 12px -6px rgba(0, 0, 0, 0.2), 0px 16px 16px -8px rgba(0, 0, 0, 0.2);
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 34px;
  margin-bottom: 94px;
  -webkit-box-shadow: var(--secondary-text-color);
          box-shadow: var(--secondary-text-color);
  overflow: hidden;
}

.portfolio-list > .item {
  -ms-flex-preferred-size: 33.3333333333%;
      flex-basis: 33.3333333333%;
  -webkit-box-shadow: #000000;
          box-shadow: #000000;
  border-radius: 10px;
  overflow: hidden;
}

.photo-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photo-card:hover .photo-thumb::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.photo-thumb {
  position: relative;
  overflow: hidden;
}
.photo-thumb:hover .card-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  top: 0;
  left: 0;
}

.card-text {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px 0 24px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-text:hover {
  opacity: 1;
}

.card-text p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 3%;
  color: rgb(255, 255, 255);
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
  gap: 4px;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */