.job {
  padding-top: 0;
}
.intro {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.photo-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}
.foto-card-thumb {
  position: relative;
  display: flex;
}
.foto-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}
