.find-us-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 9px;
  width: max-content;
}

.find-us-link {
  font-size: 14px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  &:hover,
  &:focus {
    color: $accent-hover-color;
  }
}