.join-title {
  font-family: Roboto;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
}
.join-us-list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.join-us-link {
  display: flex;
  width: 44px;
  height: 44px;
  fill: $icon-color-fill;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  &:hover,
  :focus {
    background-color: $accent-color;
    fill: $primary-white-color;
  }
}
.svg-icon {
  display: flex;
  width: 20px;
  height: 20px;
}
