.list-item::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $secondary-bg-color;
}

.list-item:nth-child(1)::before {
  background-image: url('../images/antenna\ 1.svg');
}
.list-item:nth-child(2)::before {
  background-image: url(../images/clock\ 1.svg);
}
.list-item:nth-child(3)::before {
  background-image: url('../images/diagram\ 1.svg');
}
.list-item:nth-child(4)::before {
  background-image: url('../images/astronaut\ 1.svg');
}