.logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  line-height: 1.5;
  & span {
    color: $accent-color;
  }
}