.main-button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 2.14;
  letter-spacing: 6%;
  text-align: center;
  background-color: $accent-color;
  color: #ffffff;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $accent-hover-color;
  }
}
