.photo-card {
  display: flex;
  flex-direction: column;
}
.photo-card:hover .photo-thumb::before {
  transform: translateY(0);
}
.photo-thumb {
  position: relative;
  overflow: hidden;

  &:hover .card-text {
    transform: translateY(0);
    opacity: 1;
    top: 0;
    left: 0;
  }
}
.card-text {
  position: absolute;

  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px 0 24px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  transform: translateY(100%);
  transition: transform 500ms $timing-function, opacity 500ms $timing-function;
}

.card-text:hover {
  opacity: 1;
}
.card-text p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 1);
}
.card-content {
  display: flex;
  flex-direction: column;
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
  gap: 4px;
  overflow: hidden;
}